## A. Project Scope

- Twitch is the world’s leading live streaming platform for gamers, with 15 million daily active users. 
Using data to understand its users and products is one of the main responsibilities of the Twitch Data Science Team.

- In this project, you will be working with two tables that contain Twitch users’ stream viewing data and chat room usage data.
	- Stream viewing data: stream table
	- Chat usage data: chat table

### Import Modules

In [2]:
import pandas as pd
import numpy as np
import sqlite3 as sql
import sqlalchemy
%load_ext sql

### Connect Sqlite Database

In [3]:
%%sql
sqlite:///twitch_sqlite.db

### See All Tables

In [4]:
%%sql
SELECT name 
FROM sqlite_master
WHERE type='table'

 * sqlite:///twitch_sqlite.db
Done.

[('chat',), ('stream',)]

## B. Getting Started
### Exercise 1
Start by getting a feel for the stream table and the chat table. 
      Select the first 5 rows from each of the two tables.
	  What are the column names?

In [8]:
%%sql
SELECT *
FROM chat
LIMIT 5

 * sqlite:///twitch_sqlite.db
Done.

[('1/1/2015 18:45', '70e2b95b5ac0d4c227e46966658d16b3e044996e', '5c2f5c1f19a7738e16ed0be551d865e8a8fce71d', 'jerry', 'BY', None, 'Dota 2'),
 ('1/1/2015 1:16', 'f2b9065b55fd80d6aa653ce989b489f4ec5198be', '0d77740e4fb5ce77d94f9f6c8ef1f762990d0344', 'elaine', 'HK', None, 'Devil May Cry 4: Special Edition'),
 ('1/1/2015 16:22', 'd448ba963d7e1023dd1b0a40b95d4f6611750692', '77ab14c1fb815e1c369ba0cf7d4c56b4fe489997', 'frank', 'GB', 'iphone_t', 'League of Legends'),
 ('1/1/2015 3:58', '8d6823dc52b400b50aebf269bf1f03a36d19eeaa', '91cb88c0743761589273fc5e800e7743ece46494', 'frank', 'US', 'iphone_t', 'League of Legends'),
 ('1/1/2015 11:47', '16c1e39594d62358d27ae604ad43a071f0d86bc4', '51a9234f83d656607cfd7f26690c12d2ffbce353', 'estelle', 'DE', None, 'Dota 2')]

In [9]:
%%sql
SELECT *
FROM stream
LIMIT 5

 * sqlite:///twitch_sqlite.db
Done.

[('2015-01-01 18:33:52', '40ffc2fa6534cf760becbdbf5311e31ad069e46e', '085c1eb7b587bfe654f0df7b4ba7f4fc4013636c', 'frank', 'US', 'iphone_t', 'League of Legends', None, None),
 ('2015-01-01 23:35:33', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', 'site', 'DayZ', 'chunked', 'false'),
 ('2015-01-01 04:39:38', '2f9c3f9ee1033b71a3819564243f20ef3bec0183', '5b9a43e68f019185f55615d0b83019dee4b5d06f', 'frank', 'US', 'site', 'League of Legends', 'chunked', 'false'),
 ('2015-01-01 11:15:30', '0cda8226ba2583424c80c3c1c22c1256b080ad17', '02c7797faa4d8a3ff4b0c14ee1764b6817b53d0b', 'estelle', 'CH', 'site', 'Dota 2', 'high', 'false'),
 ('2015-01-01 11:28:19', 'e3288ca5e3153aa85e32f64cdd994b7666968dcf', 'b920c228acbcbebee26d9c79f6eb73b73a9480c7', 'morty', 'FR', 'site', 'Heroes of the Storm', 'medium', 'false')]

### Exercise 2
What are the unique games in the stream table?

In [10]:
%%sql
SELECT DISTINCT game
FROM stream

 * sqlite:///twitch_sqlite.db
Done.

[('League of Legends',),
 ('DayZ',),
 ('Dota 2',),
 ('Heroes of the Storm',),
 ('Counter-Strike: Global Offensive',),
 ('Hearthstone: Heroes of Warcraft',),
 ('The Binding of Isaac: Rebirth',),
 ('Agar.io',),
 ('Gaming Talk Shows',),
 (None,),
 ('Rocket League',),
 ('World of Tanks',),
 ('ARK: Survival Evolved',),
 ('SpeedRunners',),
 ('Breaking Point',),
 ('Duck Game',),
 ('Devil May Cry 4: Special Edition',),
 ('Block N Load',),
 ('Fallout 3',),
 ('Batman: Arkham Knight',),
 ('Reign Of Kings',),
 ('The Witcher 3: Wild Hunt',),
 ('The Elder Scrolls V: Skyrim',),
 ('Super Mario Bros.',),
 ('H1Z1',),
 ('The Last of Us',),
 ('Depth',),
 ('Mortal Kombat X',),
 ('Senran Kagura: Estival Versus',),
 ('The Sims 4',),
 ('You Must Build A Boat',),
 ('Choice Chamber',),
 ('Music',),
 ('Risk of Rain',),
 ('Grand Theft Auto V',),
 ('Besiege',),
 ('Super Mario Bros. 3',),
 ('Hektor',),
 ('Bridge Constructor Medieval',),
 ('Lucius',),
 ('Blackjack',),
 ('Cities: Skylines',)]

### Exercise 3
What are the unique channels in the stream table?

In [11]:
%%sql
SELECT DISTINCT channel
FROM stream

 * sqlite:///twitch_sqlite.db
Done.

[('frank',),
 ('george',),
 ('estelle',),
 ('morty',),
 ('kramer',),
 ('jerry',),
 ('helen',),
 ('newman',),
 ('elaine',),
 ('susan',)]

## B. Aggregate Functions
### Exercise 4
What are the most popular games in the stream table?

In [15]:
%%sql
SELECT game, COUNT(DISTINCT device_id) count_of_device
FROM stream
GROUP BY game
ORDER BY 2 DESC;

 * sqlite:///twitch_sqlite.db
Done.

[('League of Legends', 93308),
 ('Dota 2', 45925),
 ('Counter-Strike: Global Offensive', 37461),
 ('Heroes of the Storm', 20812),
 ('DayZ', 17023),
 ('Gaming Talk Shows', 16521),
 ('The Binding of Isaac: Rebirth', 15006),
 ('Agar.io', 8897),
 ('Hearthstone: Heroes of Warcraft', 7663),
 ('World of Tanks', 7077),
 ('Rocket League', 4814),
 ('SpeedRunners', 2565),
 ('ARK: Survival Evolved', 1698),
 (None, 1513),
 ('Duck Game', 851),
 ('Fallout 3', 313),
 ('Devil May Cry 4: Special Edition', 210),
 ('Batman: Arkham Knight', 73),
 ('Breaking Point', 68),
 ('The Witcher 3: Wild Hunt', 19),
 ('Reign Of Kings', 14),
 ('Depth', 11),
 ('Mortal Kombat X', 9),
 ('Super Mario Bros.', 5),
 ('H1Z1', 5),
 ('Grand Theft Auto V', 4),
 ('Music', 3),
 ('Block N Load', 3),
 ('The Last of Us', 2),
 ('The Elder Scrolls V: Skyrim', 2),
 ('Senran Kagura: Estival Versus', 2),
 ('You Must Build A Boat', 1),
 ('The Sims 4', 1),
 ('Super Mario Bros. 3', 1),
 ('Risk of Rain', 1),
 ('Lucius', 1),
 ('Hektor', 1),
 ('Cities: Skylines', 1),
 ('Choice Chamber', 1),
 ('Bridge Constructor Medieval', 1),
 ('Blackjack', 1),
 ('Besiege', 1)]

### Exercise 5
These are some big numbers from the game League of Legends (also known as LoL).

Where are these LoL stream viewers located?
	  Create a list of countries and their number of LoL viewers

In [18]:
%%sql
SELECT country, count(DISTINCT device_id) count_of_user
FROM stream
WHERE game = 'League of Legends'
GROUP BY country
ORDER BY 2 DESC;

 * sqlite:///twitch_sqlite.db
Done.

[('US', 36024),
 ('CA', 6030),
 ('DE', 6004),
 ('GB', 3421),
 (None, 3373),
 ('TR', 2797),
 ('SE', 2077),
 ('AU', 1894),
 ('NL', 1809),
 ('PL', 1729),
 ('DK', 1693),
 ('TW', 1558),
 ('GR', 1531),
 ('PT', 1469),
 ('FR', 1361),
 ('BR', 1301),
 ('RO', 1281),
 ('IT', 1213),
 ('NO', 1093),
 ('MX', 1081),
 ('ES', 977),
 ('BE', 938),
 ('FI', 831),
 ('CZ', 697),
 ('RU', 674),
 ('HU', 583),
 ('HK', 565),
 ('AT', 550),
 ('BG', 535),
 ('NZ', 532),
 ('LT', 504),
 ('HR', 453),
 ('CL', 446),
 ('RS', 416),
 ('JP', 340),
 ('IL', 328),
 ('CH', 322),
 ('AR', 318),
 ('SG', 265),
 ('SK', 253),
 ('SI', 237),
 ('CO', 221),
 ('IE', 203),
 ('SA', 192),
 ('MA', 181),
 ('AE', 158),
 ('PH', 146),
 ('EE', 146),
 ('BA', 141),
 ('UA', 136),
 ('PR', 128),
 ('LV', 124),
 ('CR', 119),
 ('MY', 107),
 ('KW', 105),
 ('KR', 101),
 ('VE', 91),
 ('TN', 85),
 ('CY', 85),
 ('VN', 83),
 ('EG', 81),
 ('MK', 74),
 ('PE', 70),
 ('AL', 63),
 ('TT', 47),
 ('DO', 47),
 ('IS', 45),
 ('JO', 42),
 ('UY', 40),
 ('PA', 36),
 ('GE', 36),
 ('ZA', 35),
 ('QA', 32),
 ('MO', 32),
 ('JM', 32),
 ('MT', 31),
 ('LU', 27),
 ('BB', 27),
 ('ME', 26),
 ('CN', 25),
 ('TH', 24),
 ('IN', 23),
 ('MD', 21),
 ('KZ', 21),
 ('EC', 21),
 ('BY', 20),
 ('BH', 20),
 ('LB', 19),
 ('ID', 18),
 ('BS', 17),
 ('SV', 16),
 ('PK', 16),
 ('GT', 16),
 ('CW', 16),
 ('IQ', 15),
 ('NI', 14),
 ('DZ', 14),
 ('PY', 13),
 ('HN', 11),
 ('GU', 11),
 ('AW', 11),
 ('RE', 10),
 ('OM', 10),
 ('PS', 8),
 ('MN', 8),
 ('JE', 8),
 ('FO', 8),
 ('BO', 8),
 ('BN', 8),
 ('GP', 7),
 ('EU', 7),
 ('AM', 7),
 ('LI', 6),
 ('BZ', 6),
 ('IR', 5),
 ('BD', 5),
 ('VI', 4),
 ('PF', 4),
 ('LK', 4),
 ('KY', 4),
 ('KH', 4),
 ('KE', 4),
 ('LC', 3),
 ('IM', 3),
 ('GG', 3),
 ('GF', 3),
 ('BQ', 3),
 ('AX', 3),
 ('VG', 2),
 ('SR', 2),
 ('NG', 2),
 ('MU', 2),
 ('KG', 2),
 ('GL', 2),
 ('GI', 2),
 ('FJ', 2),
 ('DM', 2),
 ('AI', 2),
 ('AG', 2),
 ('VC', 1),
 ('TC', 1),
 ('SN', 1),
 ('SM', 1),
 ('SD', 1),
 ('SC', 1),
 ('NC', 1),
 ('MQ', 1),
 ('MC', 1),
 ('LY', 1),
 ('KN', 1),
 ('GY', 1),
 ('GA', 1),
 ('BM', 1),
 ('AZ', 1),
 ('AD', 1),
 ('A1', 1)]

### Exercise 6
The player column contains the source the user is using to view the stream (site, iphone, android, etc).

Create a list of players and their number of streamers.

In [19]:
%%sql
SELECT player, COUNT(DISTINCT device_id) count_of_user
FROM stream
GROUP BY 1
ORDER BY 2 DESC;

 * sqlite:///twitch_sqlite.db
Done.

[('site', 154748),
 ('android', 40090),
 ('iphone_t', 35163),
 ('ipad_t', 22531),
 ('embed', 12334),
 ('xbox_one', 2926),
 ('home', 2005),
 ('frontpage', 1322),
 ('xbox360', 654),
 ('amazon', 493),
 ('roku', 165),
 ('chromecast', 114),
 ('facebook', 78),
 ('ouya', 3),
 ('nvidia shield', 2),
 ('android_pip', 1)]

### Exercise 7
7. Create a new column named genre for each of the games.
	  Group the games into their genres: Multiplayer Online Battle Arena (MOBA), First Person Shooter (FPS), Survival, and Other.
	  Using CASE, your logic should be:
			- If League of Legends → MOBA
			- If Dota 2 → MOBA
			- If Heroes of the Storm → MOBA
			- If Counter-Strike: Global Offensive → FPS
			- If DayZ → Survival
			- If ARK: Survival Evolved → Survival
			- Else → Other
	  Use GROUP BY and ORDER BY to showcase only the unique game titles.

In [21]:
%%sql
WITH CTE AS(
            SELECT 
                CASE
                    WHEN game = 'League of Legends' THEN 'MOBA'
                    WHEN game = 'Dota 2' THEN 'MOBA'
                    WHEN game = 'Heroes of the Storm' THEN 'MOBA'
                    WHEN game = 'Counter-Strike: Global Offensive' THEN 'FPS'
                    WHEN game = 'DayZ' THEN 'Survival'
                    WHEN game = 'ARK: Survival Evolved' THEN 'Survival'
                    ELSE 'Other'
                    END AS genre
            FROM stream
            )
SELECT genre, COUNT(genre) AS count_
FROM CTE
GROUP BY genre
ORDER BY count_ DESC;

 * sqlite:///twitch_sqlite.db
Done.

[('MOBA', 314451), ('Other', 115248), ('FPS', 54438), ('Survival', 42162)]

## C. How Does View Count Change in The  Course of Day?
### Exercise 8
- Let’s write a query that returns two columns:
    - The hours of the time column
    - The view count for each hour
    
    
- Lastly, filter the result with only the users in your country using a WHERE clause.

In [26]:
%%sql
SELECT strftime('%H', time) hour_, COUNT(DISTINCT device_id) count_of_user
FROM stream
WHERE country = "TR"
GROUP BY 1
ORDER BY 2 DESC;

 * sqlite:///twitch_sqlite.db
Done.

[('12', 903),
 ('13', 812),
 ('11', 625),
 ('17', 512),
 ('02', 495),
 ('03', 365),
 ('18', 350),
 ('14', 350),
 ('04', 337),
 ('16', 301),
 ('15', 299),
 ('21', 281),
 ('19', 244),
 ('00', 214),
 ('01', 208),
 ('20', 195),
 ('05', 140),
 ('10', 123),
 ('22', 112),
 ('23', 111),
 ('09', 41),
 ('08', 40),
 ('07', 16),
 ('06', 10)]

## D. Joining Two Tables
### Exercise 9
The stream table and the chat table share a column: device_id. Let’s join the two tables on that column.

In [31]:
%%sql
SELECT *
FROM stream
JOIN chat 
ON stream.device_id = chat.device_id
LIMIT 20

 * sqlite:///twitch_sqlite.db
Done.

[('2015-01-01 18:33:52', '40ffc2fa6534cf760becbdbf5311e31ad069e46e', '085c1eb7b587bfe654f0df7b4ba7f4fc4013636c', 'frank', 'US', 'iphone_t', 'League of Legends', None, None, '1/1/2015 22:43', '40ffc2fa6534cf760becbdbf5311e31ad069e46e', '085c1eb7b587bfe654f0df7b4ba7f4fc4013636c', 'frank', 'US', 'iphone_t', 'League of Legends'),
 ('2015-01-01 23:35:33', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', 'site', 'DayZ', 'chunked', 'false', '1/1/2015 20:41', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', None, 'DayZ'),
 ('2015-01-01 23:35:33', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', 'site', 'DayZ', 'chunked', 'false', '1/1/2015 20:41', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', None, 'DayZ'),
 ('2015-01-01 23:35:33', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', 'site', 'DayZ', 'chunked', 'false', '1/1/2015 20:46', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', None, 'DayZ'),
 ('2015-01-01 23:35:33', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', 'site', 'DayZ', 'chunked', 'false', '1/1/2015 21:19', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', None, 'DayZ'),
 ('2015-01-01 23:35:33', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', 'site', 'DayZ', 'chunked', 'false', '1/1/2015 21:23', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', None, 'DayZ'),
 ('2015-01-01 23:35:33', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', 'site', 'DayZ', 'chunked', 'false', '1/1/2015 22:00', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', None, 'DayZ'),
 ('2015-01-01 23:35:33', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', 'site', 'DayZ', 'chunked', 'false', '1/1/2015 22:02', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', None, 'DayZ'),
 ('2015-01-01 23:35:33', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', 'site', 'DayZ', 'chunked', 'false', '1/1/2015 22:09', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', None, 'DayZ'),
 ('2015-01-01 23:35:33', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', 'site', 'DayZ', 'chunked', 'false', '1/1/2015 22:09', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', None, 'DayZ'),
 ('2015-01-01 23:35:33', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', 'site', 'DayZ', 'chunked', 'false', '1/1/2015 22:16', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', None, 'DayZ'),
 ('2015-01-01 11:28:19', 'e3288ca5e3153aa85e32f64cdd994b7666968dcf', 'b920c228acbcbebee26d9c79f6eb73b73a9480c7', 'morty', 'FR', 'site', 'Heroes of the Storm', 'medium', 'false', '1/1/2015 16:17', 'e3288ca5e3153aa85e32f64cdd994b7666968dcf', 'b920c228acbcbebee26d9c79f6eb73b73a9480c7', 'morty', 'FR', None, 'Heroes of the Storm'),
 ('2015-01-01 11:28:19', 'e3288ca5e3153aa85e32f64cdd994b7666968dcf', 'b920c228acbcbebee26d9c79f6eb73b73a9480c7', 'morty', 'FR', 'site', 'Heroes of the Storm', 'medium', 'false', '1/1/2015 17:35', 'e3288ca5e3153aa85e32f64cdd994b7666968dcf', 'b920c228acbcbebee26d9c79f6eb73b73a9480c7', 'morty', 'FR', None, 'Heroes of the Storm'),
 ('2015-01-01 23:27:36', '343fe2bfd58595d5c18602d420ecf6f9d694d5a8', '7814f661a54349ff5eee84f9d6f476918c9b7270', 'george', 'US', 'iphone_t', 'DayZ', None, None, '1/1/2015 21:37', '343fe2bfd58595d5c18602d420ecf6f9d694d5a8', '7814f661a54349ff5eee84f9d6f476918c9b7270', 'george', 'US', 'iphone_t', 'DayZ'),
 ('2015-01-01 23:27:36', '343fe2bfd58595d5c18602d420ecf6f9d694d5a8', '7814f661a54349ff5eee84f9d6f476918c9b7270', 'george', 'US', 'iphone_t', 'DayZ', None, None, '1/1/2015 23:39', '343fe2bfd58595d5c18602d420ecf6f9d694d5a8', '7814f661a54349ff5eee84f9d6f476918c9b7270', 'george', 'US', 'iphone_t', 'DayZ'),
 ('2015-01-01 21:09:23', '80a0c7d1abb6a5a0060e18202b77bef831e08ca5', 'eb158cab3f606d3894a32e20bddbfd2d589095a9', 'frank', 'US', 'site', 'League of Legends', 'high', 'true', '1/1/2015 23:35', '80a0c7d1abb6a5a0060e18202b77bef831e08ca5', 'eb158cab3f606d3894a32e20bddbfd2d589095a9', 'frank', 'US', None, 'League of Legends'),
 ('2015-01-01 22:10:46', '20bde4b4418df3ce2701869233e12b1b4a30da88', '7abc32d6617b4a13b78dd2710f22fe8a2305f0fd', 'george', 'US', 'ipad_t', 'DayZ', None, None, '1/1/2015 22:23', '20bde4b4418df3ce2701869233e12b1b4a30da88', '7abc32d6617b4a13b78dd2710f22fe8a2305f0fd', 'george', 'US', 'ipad_t', 'DayZ'),
 ('2015-01-01 21:30:35', '53fc815c5fb6e8641dc8a60cf2cc480198a2ba17', '122ab65809db2c8057c998d0664b2f54f5f6aa10', 'frank', 'US', 'android', 'League of Legends', None, None, '1/1/2015 21:00', '53fc815c5fb6e8641dc8a60cf2cc480198a2ba17', '122ab65809db2c8057c998d0664b2f54f5f6aa10', 'frank', 'US', 'android', 'League of Legends'),
 ('2015-01-01 22:30:35', 'b91cf6ac0daae6135e43494116c5748e41795321', '2838e587883b07fe52727e859ee794f6a977bd2a', 'george', 'US', 'iphone_t', 'DayZ', None, None, '1/1/2015 22:32', 'b91cf6ac0daae6135e43494116c5748e41795321', '2838e587883b07fe52727e859ee794f6a977bd2a', 'george', 'US', 'iphone_t', 'DayZ'),
 ('2015-01-01 22:30:35', 'b91cf6ac0daae6135e43494116c5748e41795321', '2838e587883b07fe52727e859ee794f6a977bd2a', 'george', 'US', 'iphone_t', 'DayZ', None, None, '1/1/2015 22:43', 'b91cf6ac0daae6135e43494116c5748e41795321', '2838e587883b07fe52727e859ee794f6a977bd2a', 'george', 'US', 'iphone_t', 'DayZ')]